<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="mahjong-tile.html">
<link rel="import" href="../bower_components/polymer-filters/polymer-filters.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">

<polymer-element name="mahjong-list" attributes="tiles tapHandler">
  <template>
    <style>
      .newTile {
        margin-left: 20px;
      }

      div {
        display: inline-block;
      }

      button {
        margin-top: 100px;
      }
      core-animated-pages{
        height: 50px;
      }
    </style>
    <!-- <div>
      <template repeat="{{tile in tiles}}">
        <mahjong-tile data-seq={{tile.seq}} tile="{{tile}}" on-tap="{{tapHandler}}" touch-action="pan-x pan-y"></mahjong-tile>
      </template>
      <mahjong-tile class="newTile" data-seq={{newTile.seq}} tile="{{newTile}}" on-tap="{{tapHandler}}" touch-action="pan-x pan-y"></mahjong-tile>
    </div>
    <div>Remaining:  {{remaining}}</div> -->

    <core-animated-pages id="pages" on-tap="{{reorder}}" selected="{{selected}}" on-core-animated-pages-transition-end="{{done}}" transitions="hero-transition cross-fade">

      <section>
        <template repeat="{{tile in tiles.base}}">
          <div hero-id="{{tile.seq}}" hero>
            <mahjong-tile tile="{{tile}}"></mahjong-tile>
          </div>
        </template>
        <div hero-id="{{tiles.newTile.seq}}" hero cross-fade class="newTile">
          <mahjong-tile tile="{{tiles.newTile}}" id ="bb"></mahjong-tile>
        </div>
      </section>

      <section>
        <template repeat="{{tile in tiles2.base}}">
          <div hero-id="{{tile.seq}}" hero>
            <mahjong-tile tile="{{tile}}"></mahjong-tile>
          </div>
        </template>
        <div hero-id="{{tiles2.newTile.seq}}" hero cross-fade class="newTile">
          <mahjong-tile tile="{{tiles2.newTile}}" id ="aa"></mahjong-tile>
        </div>
      </section>

    </core-animated-pages>
    <p>Remaining: {{remaining}}</p>
  </template>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    Polymer({
      ready: function(){
        this.socket = io();
        var self = this;
        this.socket.on('shuffle', function(tiles){
          tiles.base.sort(function(a,b){
            return a.seq - b.seq;
          });
          self.tiles = tiles;
          self.tiles2 = JSON.parse(JSON.stringify(tiles));
          self.remaining = tiles.remaining;
        });
        this.socket.on('new tile', function(tile){
          self.pickTile(tile.newTile);
          self.remaining = tile.remaining;
        });
        this.shuffle();
      },
      shuffle: function() {
        this.socket.emit("shuffle");
      },
      pick: function(){
        this.socket.emit('new tile');
      },
      kickTile: function(tile){
        var tilesToRefer = this.tilesToRefer();
        var tilesToChange = this.tilesToChange();
        if(tilesToRefer.newTile != tile) {
          var index = tilesToRefer.base.indexOf(tile);
          tilesToChange.base.splice(index, 1);
          tilesToChange.base.push(tilesToChange.newTile);
          tilesToChange.base.sort(function(a, b){
            return a.seq - b.seq;
          });
        }
        delete tilesToChange.newTile;
        this.switchTiles();
      },
      pickTile: function(tile){
        var tilesToChange = this.tilesToChange();
        tilesToChange.newTile = tile;
        this.switchTiles();
      },
      switchTiles: function(){
        this.selected = this.selected ? 0 : 1;
      },
      tilesToChange: function(){
        return this.selected ? this.tiles : this.tiles2;
      },
      syncTiles: function(){
        if(this.selected) {
          this.tiles = JSON.parse(JSON.stringify(this.tiles2));
        } else {
          this.tiles2 = JSON.parse(JSON.stringify(this.tiles));
        }
      },
      tilesToRefer: function(){
        return this.selected ? this.tiles2 : this.tiles;
      },
      selected: 0,
      reorder: function(e) {
        var tile = e.target.tile;
        if (this.$.pages.transitioning.length) {
          return;
        }
        this.kickTile(tile);
        var self = this;
        setTimeout(function(){
          self.pick();
        }, 1000);
      },

      done: function() {
        this.syncTiles();
      }
    });
  </script>
</polymer-element>